{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-8">
    <div class="card shadow-sm">
      <div class="card-body">
        <h2 class="h4 mb-3">المادة</h2>
        <form method="post">
          {{ form.hidden_tag() }}
          <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control", rows=4) }}
          </div>
          {{ form.submit(class="btn btn-primary") }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
