.custom-footer {
    width: 100%;
    position: relative;
    background: #25262A;
    height: min-content;
    color: #fff;
    padding: 20px 0;
}
.custom-footer .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.custom-footer .container h3::after {
    content: "";
    display: block;
    height: 2px;
    width: auto;
    background: #fff;
    margin-top: 20px;
}
.custom-footer .container li a:hover {
    color: #398927;
    transition: all 0.5s ease;
}
.col-1 {
    flex-basis: 30%;
    padding: 10px;
    margin-bottom: 20px;
}
.col-1 img {
    width: 55px;
    margin-bottom: 15px;
}
.col-1 p {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
}
.col-2 {
    flex-basis: 15%;
    padding: 10px;
    margin-bottom: 20px;

}
.col-2 h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
}
.col-2 ul {
    list-style: none;
}
.col-2 ul li {
    margin-bottom: 10px;
}
.col-2 ul li a {
    color: #fff;
    text-decoration: none;
}
.col-3 {
    flex-basis: 15%;
    padding: 10px;
    margin-bottom: 20px;
}
.col-3 h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
}
.col-3 ul {
    list-style: none;
}
.col-3 ul li {
    margin-bottom: 10px;
}
.col-3 ul li a {
    color: #fff;
    text-decoration: none;
}
.col-4 {
    flex-basis: 20%;
    padding: 10px;
    margin-bottom: 20px;
}
.col-4 h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
}
.custom-footer form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.custom-footer form .far{
    color: #ccc;
    margin-right: 10px;
}
.custom-footer form input{
    background: transparent;
    width: 100%;
    border: none;
    color: #fff;
    outline: none;
}
.custom-footer form button{
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.custom-footer .social-icons{
    margin-top: 25px;
}
.custom-footer .social-icons a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #fff;
    color: #25262A;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}
.custom-footer .social-icons a:hover{
    background: #398927;
    color: #fff;
    width: 45px;
    height: 45px;
    transition: all 0.5s ease;
}
.custom-footer .footer-2{ /* last footer (جميع الحقوق محفوظة)*/
    width: 100%;
    background: #25262A;
    color: #fff;
    padding-top: 0px;
    text-align: center;
}

